* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.container {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: black;
}

.container .tempo {
    font-size: 100px;
    display: flex;
}

.container .botoes {
    height: auto;
    display: flex;
    gap: 30px;
}

.container .botoes button {
    width: 80px;
    height: 30px;
}

.container .btn-pausar {
    background-color:#9c0720;
}

.container .btn-zerar {
    background-color:#4000ffe8;
}